.form-container {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: row;
}

.form-column {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

input {
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 5px;
}

.container{
    border: 2px;
}

.event-content {
    max-height: 40px; /* Ajustez la hauteur maximale selon vos besoins */
    overflow: hidden;
}

.multiple-events {
    font-size: 8px; /* Ajustez la taille de la police selon vos besoins */
}


.event-title {
    font-weight: bold;
    font-size: 10px;
    color: #eef2f5; 
    word-wrap: break-word;
}


.eventtitle {
    font-weight: bold;
    font-size: 10px;
    color: #000000;
    word-wrap: break-word;
}

.event-place {
    font-size: 16px;
    color: #000000; /* Dark gray color */
}

.multiple-events::before {
    content: attr(data-event-count);
    background-color: #ff4500; /* Couleur d'arrière-plan pour indiquer plusieurs événements */
    color: #fff; /* Couleur du texte */
    padding: 2px 5px;
    border-radius: 3px;
    margin-right: 5px;
}


.rbc-time-gutter {
    display: none;
  }

.rbc-time-content{
    display: none;
  }

  .rbc-time-view {
    .rbc-label {
    display: none;
    }
    .rbc-allday-cell {
    height: calc(100vh - 98px);
    max-height: unset;
    }
    .rbc-time-content {
    display: none;
    }
    }

    .rbc-header {
        background: #79b8e4;
        color: white;
        padding: 10px;
        font-size: 12px;
    }
    