.form-container {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: row;
}

.form-column {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

input {
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 5px;
}

.container{
    border: 2px;
}

.event-content {
    max-height: 40px; /* Ajustez la hauteur maximale selon vos besoins */
    overflow: hidden;
}

.multiple-events {
    font-size: 8px; /* Ajustez la taille de la police selon vos besoins */
}


.event-title {
    font-weight: bold;
    font-size: 10px;
    color: #eef2f5; 
    word-wrap: break-word;
}


.eventtitle {
    font-weight: bold;
    font-size: 10px;
    color: #025594; 
    word-wrap: break-word;
}

.event-place {
    font-size: 16px;
    color: #000000; /* Dark gray color */
}

.multiple-events::before {
    content: attr(data-event-count);
    background-color: #ff4500; /* Couleur d'arrière-plan pour indiquer plusieurs événements */
    color: #fff; /* Couleur du texte */
    padding: 2px 5px;
    border-radius: 3px;
    margin-right: 5px;
}


.rbc-time-gutter {
    display: none;
  }

.rbc-time-content{
    display: none;
  }

  .rbc-time-view {
    .rbc-label {
    display: none;
    }
    .rbc-allday-cell {
    height: calc(100vh - 98px);
    max-height: unset;
    }
    .rbc-time-content {
    display: none;
    }
    }

    .rbc-header {
        background: #79b8e4;
        color: white;
        padding: 10px;
        font-size: 12px;
    }
    

    .calend-container {
        display: flex;
      }
      
      .events-columnn {
        flex: 1; /* La colonne des événements prendra 1/3 de l'espace */
        padding: 10px;
        border-right: 0px solid #ddd; /* Bordure à droite pour séparer les colonnes */
        overflow-y: auto; /* Ajoutez une barre de défilement si nécessaire */
        
        }
      
      
      .calendar-column {
        flex: 2; /* Le calendrier prendra 2/3 de l'espace */
        padding: 10px;
      }

      .event-details-container {
        width: 100%;
        margin: 0 auto;
        border: 1px solid #ccc;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      
      .event-details-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .event-details-title {
        font-size: 20px;
        font-weight: bold;
      }
      
      .event-details-status {
        font-size: 16px;
        color: rgba(16, 54, 136, 0.596);
      }
      
      .event-details-dates {
        font-size: 16px;
        color: rgba(16, 54, 136, 0.596);
      }
      
      .event-details-body {
        margin-top: 20px;
      }
      
      .event-details-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        background-color: #e7eaea;
      }
      
      .event-details-label {
        font-size: 16px;
        font-weight: bold;
      }
      
      .event-details-value {
        font-size: 16px;
      }
      
      .event-details-bookingelements-container {
        margin-top: 20px;
      }
      
      .event-details-bookingelement {
        margin-bottom: 10px;
      }
      
      .event-details-bookingelement-name {
        font-size: 16px;
        font-weight: bold;
      }
      
      .event-details-bookingelement-details {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
      }
      
      .event-details-bookingelement-detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
      }
      
      .event-details-bookingelement-detail label {
        font-size: 14px;
        color: #000000;
      }
      
      .event-details-bookingelement-detail span {
        font-size: 14px;
      }
      

      .event-details-bookingelement {
        background-color: #f1f3f5;
        padding: 10px;
      }

    