.layout{
    height:200vh;
}


.header {
  
    box-shadow: 0 0 3px gray;
    color: #07090a;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header h1 {
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.header button{
    border: 1px solid white;
}


.content{
    border: 1px solid gray;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 3px gray    ;
    padding: 20px;

}